:root {
  --header-text-color: #212121;
  --accent-color: #2196f3;
  --btn-color: #ffffff;
  --title-color: #212121;
  --main-text-color: #757575;
}
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}
* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*----------------------HEADER--------------------*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-logo {
  margin-right: 93px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  display: block;
}
.half-logo {
  font-family: "Raleway", sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-list-item + .header-list-item {
  margin-left: 50px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}
.current {
  color: var(--accent-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.list-connection {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.list-connection-item {
  color: #757575;
  display: flex;
  align-items: center;
}
.list-connection-item + .list-connection-item {
  margin-left: 50px;
}
.header-link-mail,
.header-link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
}
.header-link-mail:hover,
.header-link-mail:focus,
.header-link-tel:hover,
.header-link-tel:focus {
  color: var(--accent-color);
}
.list-connection-icon {
  fill: currentColor;
  margin-right: 10px;
}
/*----------------------HERO----------------------*/
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/page1/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  background-color: var(--accent-color);
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}
/*--------------------FEATURES--------------------*/
.features-section {
  padding-top: 94px;
}
.features-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-list-item {
  width: 270px;
}
.features-list-item:not(:last-child) {
  margin-right: 30px;
}
.features-list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.features-list-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.features-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
/*--------------------OCCUPATION-------------------*/
.occupation-list {
  display: flex;
}
.occupation-list-item:not(:last-child) {
  margin-right: 30px;
}
.occupation-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
/*----------------------TEAM---------------------*/
.team {
  background: #f5f4fa;
}
.team-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-item-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list-item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team-list-position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}
.team-socials-list {
  display: flex;
  justify-content: center;
}
.team-socials-item + .team-socials-item {
  margin-left: 10px;
}
.team-socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--accent-color);
}
.team-socials-link:hover .team-socials-icon,
.team-socials-link:focus .team-socials-icon {
  fill: #ffffff;
}
.team-socials-icon {
  fill: #afb1b8;
}
/*----------------------CLIENTS---------------------*/
.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-list-item {
  width: 170px;
  height: 92px;
}
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}
.clients-link-icon:hover,
.clients-link-icon:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients-icon {
  fill: currentColor;
}
.clients-icon:hover,
.clients-icon:focus {
  fill: var(--accent-color);
}
/*----------------------FOOTER---------------------*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.half-second-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-logo {
  margin-bottom: 20px;
}
address {
  font-style: normal;
}
.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-list-item-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-list-item-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-list-item-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-list-item-address:hover,
.footer-list-item-address:focus,
.footer-list-item-mail:hover,
.footer-list-item-mail:focus,
.footer-list-item-tel:hover,
.footer-list-item-tel:focus {
  color: var(--accent-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-socials {
  margin-left: 70px;
}
.footer-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-socials-list {
  display: flex;
  justify-content: center;
}
.footer-socials-list-item + .footer-socials-list-item {
  margin-left: 10px;
}
.footer-socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
}
.footer-socials-icon {
  fill: #ffffff;
}
/*---------------------PRODUCTS--------------------*/
.products-filters-list {
  margin-bottom: 56px;
  display: flex;
  justify-content: center;
}
.products-filters-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  padding: 6px 22px;
  border-color: transparent;
}
.products-filters-btn:hover,
.products-filters-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.products-filters-list-item:not(:last-child) {
  margin-right: 8px;
}
.products-list {
  margin-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.products-list > .products-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.products-list-item-link {
  display: block;
}
.products-list-item-link:hover,
.products-list-item-link:focus {
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.products-list-item-content {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}
.products-list-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}
.products-list-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
